.stories{
    display: flex;
    gap: 10px;
    height: 250px;
    margin-bottom: 30px;

    .story{
        flex: 1;
        border-radius: 10px;
        overflow: hidden;
        
        img{
            height: 100%;
            width: 100%;
        }
    }
}